<div class="row">
    <div class="col-6">
        <div class="card">
            <app-dona [title]="'Ventas'"></app-dona>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <app-dona [title]="'Compras'" [data]="data1" [labels]="labels1"></app-dona>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <app-dona></app-dona>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <app-dona></app-dona>
        </div>
    </div>
</div>